{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}
{% block body %}
{{ form_start(actualite) }}
{{ form_widget(actualite) }}
<button type="submit" name="submit_button" id="submit_button_actualite">Ajouter</button>
{{ form_end(actualite) }}
{% endblock %} 